<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mycompany.com.nlcn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".Activity.ChiTietSPActivity">

        </activity>

        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.RegisterActivity">

        </activity>


        <activity android:name=".Activity.DonHangDangXyLyActivity">

        </activity>

        <activity android:name=".Activity.CaiDatTaiKhoanActivity">

        </activity>

        <activity android:name=".Activity.LichSuDatHangActivity">

        </activity>

        <activity android:name=".Activity.TimKiemActivity">

        </activity>


    </application>

</manifest>